.container {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.main {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px 50px;
    border-radius: 5px;
    width: 600px;
    height: 250px;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}

button {
    height: 50px;
    width: 110px;
    background-color: #009821;
    border-radius: 8px;
    color: #ffffff;
    border-width: 0px;
    cursor: pointer;
}

#from {
    margin-top: 50px;
}
#to {
   margin-top: 10px;
}

span {
    font-weight: bold;
}

#phone {
    margin-bottom: 10px;
}

#rp {
    height: 35px;
    width: 120px;
    background-color: #009821;
    border-radius: 8px;
    color: #ffffff;
    border-width: 0px;
    cursor: pointer;
}